<div class="title">
  <h2> Edit <%= @goal.name %></h2>
  </div>
<div class="container medium-6 medium-centered small-11 small-centered">
  <div class="form"
    <%= render 'goals/form' %>
  </div>
</div>
