<section>
  <div class="container medium-6 medium-centered small-11 small-centered">
    <div class="title">
      <h2>GOALS</h2>
    </div>
    <div class="form"
      <ul>

           <div id="timer"></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</section>
