<section>
  <div class="container medium-6 medium-centered small-11 small-centered">
    <div class="title">
      <h2> NEW GOAL </h2>
    </div>
    <div class="form"
    <%= render 'goals/form' %>
    </div>
  </div>
</section>
