body {
  height:100%;
  background: image-url('background.jpg');
  background-color: $black;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: 400px) {
    background-image: image-url('background_mobile.png');
  }

  @media only screen and (max-height: 1600px) {
    background-size: auto;

    @media only screen {
/* Resize to best fit and retain aspect ratio.
   Will cause gap if aspect ratio of box is different from image. */
  background-size: cover;
}
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      color: $white;
      }
  }

  a:link {
    color: $white;

      }

  a:visited {
    color: $white;
  }

  a:hover {
    color: $blue;

  }

  a:active {
    color: $white;
  }
}

h1 {
  color: $white;
}

h3 {
  color: $white;
  text-align: center;
}

h5 {
  color: $white;
}

h2 {
  font-size: 20px;
}

.title {
  background: rgba($black, 0.7);
  padding: 6px;
  color: $white;
  text-align: center;
}

.background {
  background: rgba($black, 0.7);
}
