.form-group {
  display: block;

}

label {
    display: block;
}

input {
  margin-bottom: 15px;
  margin-top: 5px;
}

textarea {
  margin-bottom: 15px;
  margin-top: 5px;
}

.password {
width: 50%;
}
