@media (min-width: 1370px) {
  .container {
      width: 1370px;
  }
}
.alignment {
  text-align: center;
}

.alignment-right {
  text-align: right;
}

.no-padding {
  padding: 0px;
}

.hidden {
  display: none;
}

hr {
  border-top: 1px solid #eeeeee;
  margin-left: 0px;
  width: 90%;
}
