.title-bar {
  background: $black;
  padding: 0.5rem; }

.top-bar {
  padding: 0;
  background: $black;
}
.menu-text {
  background: $black;
  padding: 0; }

ul.menu.dropdown {
  background: $black;
}
