.timer-days, .timer-hours, .timer-minutes, .timer-seconds {
  display: inline;
  margin-right: 2px;
}
.inline {
  display: inline;
}

.timer-display {
  display: inline;
}

.title {
  padding-top:30px;
  font-size: 30px;
  color: #000;
}

.sub-title {
  font-size: 14px;
  font-style: bold;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 35px 0px 22px 0px;
  color: #757575;
  padding: 0;
}

.subtitle-no-margin {
  font-size: 14px;
  font-style: bold;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #757575;
  margin: 35px 0px 22px 0px;
  padding: 0;
}

.due-date {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #b9b5b5;
  font-size: 15px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 9px;
}

.start-date {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #b9b5b5;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 3px;
  padding-top: 6px;
}

.name {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 9px;
}

.description {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #757575;
  font-size: 16px;
  font-weight: 200;
  margin: 8px 0px 5px 0px;
}


.clock{
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  font-size: 21px;
  font-weight: 500;
  margin-top: 2px;
  display: inline;
  @media only screen and (max-width: 500px) {
    font-size: 16px;
  }
}
